#commentSection {
    text-align: center;
}

#commentBox {
    width: 500px;
    height: 50px;
    text-align: center;
}

#comment {
    margin-left: 5px;
    width: 100px;
    color: white;
    background-color: #363C42;
    border-radius: 100px;
} 

#galleryTitle {
    text-align: center;
    font-size: 50px;
}

    a.prev,a.next {
        height:91px;
        position:absolute;
        width:43px;
        top:50%;
        margin-top:-30px;
        opacity:0.6;
        text-indent:-99999px;
        cursor:pointer;
    }
    .prev {
        left:0;
        background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
    }
    .next {
        right:0;
        background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
    }
    .slider {
        height: 700px;
        position: relative;
    }
    .slide {
        position:absolute;
        height:100%;
        width:100%;
    }
    .slider .slide:target {
        z-index: 100;
    }
    .galleryImage {
        height: 100%;
        width: 700px;
        object-fit: cover;
        margin: auto;
        display: block;
    }  