.main1 li {
/* forgot to put '.main' - 40 min debug :) */
position: relative;
display: block;
width: 160px;
float:left;
}
	
.slidetitle {
/* position on bottom */
position: absolute;
left:0;
bottom:0;
width: 640px;
}

.slidetitle {
/* titles follow here
some values have to be exact */
display: block;
color: white;
padding: 20px;
font-size: 16px;
}
	
/* however, when you hover on a particular element from that list, the value is overriden. that's why the above comes first ^ */
.main1 ul li:hover {
width: 500px;
}

#commentSection {
    text-align: center;
}

#commentBox {
    width: 500px;
    height: 50px;
    text-align: center;
}

#comment {
    margin-left: 5px;
    width: 100px;
    color: white;
    background-color: #363C42;
    border-radius: 100px;
}