#button2 {
    margin: 0px 50px 0px 50px;
}   

#portfolioInputSection {
    text-align: center;
}

#portfolioInputBoxAdd {
    width: 100%;
    height: 74.6px;
    text-align: center;
}


#portfolioInputBox {
    width: 100%;
    height: 50px;
    text-align: center;
}

#portfolioInputBoxDelete {
    width: 100%;
    height: 315px;
    text-align: center;
}

#portfolioInput {
    width: 100%;
} 

#portfolioLogo {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    border-radius: 50%;
}