html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
}

#logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

#museumBuilding {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
}

#museumInterior {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}

#bottomWords {
  margin-bottom: -200px;
}

#signupLogo {
  border-radius: 50%;
}

#login {
  padding-top: 100px;
}